<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Account Settings">
      <mat-card-content class="mt-1">
          <form>
            <!-- <mat-form-field class="full-width">
              <input
              matInput
              name="name"
              placeholder="Name"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input
                matInput
                name="title"
                placeholder="Title"
                value="">
              </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="email"
              placeholder="Email"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="phone"
              placeholder="Phone"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="address"
              placeholder="Adresss"
              value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
              matInput
              name="website"
              placeholder="Website"
              value="">
            </mat-form-field> -->
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="oldpassword"
                matInput
                placeholder="Old Password" 
                value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="newpassword"
                matInput
                placeholder="New Password" 
                value="">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="confirmpassword"
                matInput
                placeholder="Confirm Password" 
                value="">
            </mat-form-field>
            <button mat-raised-button color="primary">Confirm</button>
          </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>